.tela {
    width: 300px;
    height: 400px;
    padding: 20px;
    background-color: aquamarine;
    border-radius: 30px;
    display: grid;
    grid-template-areas: 
    'visor visor visor visor'
    'first_quadrant first_quadrant first_quadrant second_quadrant'
    'first_quadrant first_quadrant first_quadrant second_quadrant'
    'first_quadrant first_quadrant first_quadrant second_quadrant'
    'first_quadrant first_quadrant first_quadrant second_quadrant';
}

#visor {
    grid-area: visor;
}
#first_quadrant {
    grid-area: first_quadrant;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    gap: 3px;
    text-decoration: none;
    outline: none;
    outline-style: none;
    outline-offset: 0px;
}
#second_quadrant {
    grid-area: second_quadrant;
    display: grid;
    gap: 3px;           
}
.item {
    background-color: rgb(71, 204, 245);
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border: 0px;
}