
/* #about_section {
    margin: 0px;
    padding: 1em;
    max-width: max-content;
} */

.about_text{
    line-height: 2em;
}

.about_skill {
    background-color: var(--color6);
    padding: 0em 0em 1em 0em;
    margin: 0em 1em;
    width: 170px;
    height: 160px;
}

.about_skill_image {
    width: 60px;
    height: 80px;
}

.about_contatos {
    background-color: var(--color4);
    padding: 0em 0em 1em 0em;
    margin: 0em 1em;
    width: 170px;
    height: 160px;
    text-decoration: none;
    color: var(--color5);
    padding: 0.5em;
}