:root {
    --color1:#58C2FF;
    --color2:#4B80C5;
    --color3:#004AAD;
    --color4: #111;
    --color5: aliceblue;
}

body {
    margin: 0px;
}

.default_color {
    background-color: var(--color4);
    color: var(--color5);
}

.container_flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
}

.navbar_item {
    padding: 0em 2em;
    list-style-type: none;
}

.item {
    text-decoration: none;
    color: var(--color5);
}
.item:hover {
    background-color: var(--color3);
}